* {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;    
}

body {
    background-color: #f8f8f8;
}

div#main {
    margin: 100px auto;
    width: 600px;
}

ul {
    border: 1px solid #ddd;   
    width: 500px;
    border-radius: 10px;
    background-color: white;
}

ul li {
    display: block;    
    border-bottom: 1px solid #ddd;     
}

ul li:hover {
    background-color: #f6f6f6
}

ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    text-decoration: none;
}

ul li .supertitle {
    display: block;
    font-size: 12px;
    color: #888;
}

ul li .title {
    margin-top: 8px;
    display: block;
    font-size: 21px;
}

.unread {
    font-weight: 800;
}

.container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    width: 1000px;
}

.container h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0 0 0;
}

.container h2 {
    font-size: 24px;
    margin: 32px 0 0 0;
    font-weight: 600;
}

.container p {
    font-size: 16px;
    margin: 8px 0 0 0;
    color: #222;
    font-weight: 350;
    line-height: 22px;
}

a.small_link {
    font-size: 14px;
    color: #111;
    text-decoration: none;
}