* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;    
}

body {
    background-color: #1F1D2C;
}

div#main {
    margin: 0px auto;
    width: 480px;
    text-align: center;
}

h1 {
    padding: 40px 0 40px 0
}

ul {
    border-radius: 10px;
    background-color: #3F3C51;
    text-align: left;
}

ul li {
    display: block;    
    border-bottom: 1px solid #1F1D2C;
    padding: 24px;
}

ul li:hover {
    background-color: #4B485D
}

ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

ul li .supertitle {
    display: block;
    font-size: 12px;
    color: #B2B1B9;
    float: right;
}

ul li .title {
    margin-top: 8px;
    display: block;
    font-size: 24px;
}

.unread {
    font-weight: 800;
}

.container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    width: 1000px;
}

.container h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 24px 0 0 0;
}

.container h2 {
    font-size: 24px;
    margin: 32px 0 0 0;
    font-weight: 600;
}

.container p {
    font-size: 16px;
    margin: 8px 0 0 0;
    color: #222;
    font-weight: 350;
    line-height: 22px;
}

a.small_link {
    font-size: 14px;
    color: #111;
    text-decoration: none;
}

div#paginator {
    margin: 24px 0 0 0;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#paginator span {
    display: inline-block;
    flex-grow: 1;
}

div#paginator div {    
    width: 50px;
    text-align: left;
}

div#paginator div a {    
    font-size: 14px;
    color: #111;
    text-decoration: none;
    text-align: left;
}

div#paginator div.right {    
    flex-grow: 0;
    text-align: right;
}

span.category {
    display: inline-block;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    padding: 4px;
    color: #353535;
}

span.category_1 {
    background-color: #DFA890;    
}

span.category_2 {
    background-color: #77D7F5;
}

span.category_3 {
    background-color: #ABE08B;
}