{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Minordomo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main" class="container">
        <a href="/minordomo/" class="small_link">&larr; Back</a>
        <h1>{{ message.text }}</h1>
        <h2>This is the first section</h2>
        <p>Cras ultricies tincidunt mi at rutrum. Nam id dolor in orci luctus pulvinar in a nisl. Praesent a tortor aliquam ipsum sollicitudin luctus. Fusce dictum ornare augue imperdiet facilisis. Praesent molestie non diam vitae molestie. Suspendisse in dui sed ipsum euismod elementum a non ante. Morbi ut nunc nisi.</p>
        <h2>This is the second section</h2>
        <p>In ac felis id justo sodales commodo. Duis justo augue, ultrices nec dapibus sed, tempor auctor ante. Curabitur non viverra mauris. Maecenas luctus auctor semper. Nulla laoreet diam justo, non pellentesque ex mollis vel. Sed et lacinia nisi. Phasellus fringilla aliquet tempus. Praesent luctus feugiat ornare.</p>
    </div>
</body>
</html>