{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Minordomo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main_message">
        <a href="/minordomo/" class="small_link">&larr; Back</a><br/><br/>
        <div class="container">
            <span class="category category_{{ message.category }}">{{ message.get_category_display.upper }}</span>
            <h1>{{ message.text }}</h1>
            <h2>Reports</h2>
            
            {% for r in reports %}
                <p>{{ r.content }}</p>
            {% endfor %}

        </div>
    </div>
</body>
</html>